@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url(/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: 'PermanentMarker';
    src: url(/fonts/PermanentMarker-Regular.ttf);
}

@layer base{
    html{
        font-family:'Quicksand';
    }
}

@layer components{
    .card-style{
       @apply bg-blue-50 dark:bg-slate-800/90 shadow-md shadow-secondary
    }
    .scale-icon{
        @apply transition-transform duration-200 hover:scale-150 sm:hover:scale-125
    }
}