<p class="text-xl text-center w-2/3 dark:text-slate-300">
  Amante de la tecnología en busca de proyectos y nuevos desafios que pongan a
  prueba mis capacidades para asi fomentar mi crecimiento laboral y personal
</p>

<a
  href="https://drive.google.com/file/d/1qS21uYKEJJjX601UC1eTO4kfuxuizujM/view?usp=share_link"
  target="_blank"
  class="btn btn-secondary btn-wide font-black"
>
  Descargar</a
>
