---

---
<nav class="navbar">
	
	  <a class="navbar-start" href="#"
		><img src="../public/" class="logo" alt="logo"
	  /></a>
	 
		<ul class="navbar-end flex flex-row m-r-5 gap-4">
		  <li class="no-underline">
			<a class="text-base no-underline" href="#sobreMi">Sobre mi</a>
		  </li>
		  <li class="no-underline">
			<a class="text-base no-underline" href="#habilidades">Habilidades</a>
		  </li>

		  <li class="no-underline">
			<a class="text-base no-underline" href="#proyectos">Proyectos</a>
		  </li>
		  <li class="no-underline">
			<a class="text-base no-underline" href="#contacto">Contacto</a>
		  </li>
		</ul>
	 
	</div>
  </nav>