---
import { TypewriterComponent } from "./Typewriter";
import foto from "../assets/foto.jpeg";
import { Image } from "astro:assets";
import FondoFotoSvg from "./svg/FondoFotoSvg.astro";
---

<!--  ---------------------------- seccion izquierda --------------------------- -->
<div
  class="self-start flex flex-col relative rounded-md dark:bg-slate-800/95 bg-blue-50 shadow-md shadow-secondary max-w-sm m-auto sm:max-w-lg md:max-w-xl md:m-2 p-4 md:p-8 gap-3 lg:max-w-xl xl:max-w-2xl"
>
  <div
    class="absolute self-end -top-12 -right-9 hidden sm:block md:-right-12 md:-top-16 lg:-right-16 lg:-top-20"
  >
    <img
      id="presentationSvg"
      src=`${import.meta.env.BASE_URL}assets/presentation-dark.svg`
      alt="ilustracion"
      class="w-20 h-20 md:w-28 md:h-28 lg:w-32 lg:h-32"
    />
  </div>
  <div class="flex flex-row items-end gap-4">
    <h2
      class="text-2xl text-primary md:text-3xl font-bold font-PermanentMarker mr-2"
    >
      Freddy Solarte
    </h2>
    <a
      href="https://wa.me/584247462023?text=Hola%20Freddy%20estoy%20interesado%20en%20tus%20servicios"
      target="_blank"
    >
      <img
        class="h-8 transition-transform duration-300 hover:scale-125"
        src=`${import.meta.env.BASE_URL}assets/whatsapp.svg`
        alt="whatsapp"
      />
    </a>
  </div>
  <p class="font-bold text-lg dark:text-slate-300">Full stack developer</p>
  <div class="flex flex-col">
    <p class="text-base dark:text-slate-300">
      “La tecnología, como el arte, es un ejercicio altísimo de la imaginación
      humana”
    </p>
    <cite class="self-end font-bold dark:text-slate-300">Daniel Bell</cite>
  </div>
</div>

<!--  ----------------------------- seccion derecha ----------------------------  -->
<div
  class="self-center flex justify-center relative container w-40 h-96 lg:-left-8 xl:-left-1"
>
  <div
    class="absolute top-12 w-48 h-48 z-10 lg:w-60 lg:h-60 lg:-left-20 xl:-left-1"
  >
    <FondoFotoSvg />
    <Image
      src={foto}
      alt={"foto pefil"}
      class={"w-48 h-48 lg:w-60 lg:h-60  rounded-full z-10"}
    />
  </div>
  <div class="relative -left-40 lg:-left-48">
    <TypewriterComponent client:only="react" />
  </div>
</div>
